# Python environments
.venv/
.env/
venv/
env/
ml_env/
__pycache__/
*.py[cod]
*$py.class

# Streamlit/Jupyter caches
.streamlit/
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
mlruns.db
mlruns/

# Model files
models/
catboost_info/
